body, html
  background   #333
  margin       0px
  padding      0px
  overflow     hidden
  font-family  "Lucida Grande", Helvetica, Arial, sans-serif
  font-size    20px

h1
  font-size 4em !important
  
h2
  font-size 2em !important

h3
  font-size 1.4em !important

a
  color #00B7FF
