doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery.min.js')
    script(type='text/javascript', src='http://cdn.craftycomponents.com/crafty-release.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src="/javascripts/TiledLevelImporter.js")
    script(type='text/javascript', src="/javascripts/SpriteColor.js")
    script(type='text/javascript', src="/javascripts/player.js")
    script(type='text/javascript', src="/javascripts/networkPlayer.js")
    script(type='text/javascript', src='/javascripts/zombiemmo.js')
    
  body
    block content